.FormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormWrapper label {
    margin: 20px 0;
}

.formWrapper input[name="title"] {
    border-radius: 10px;
    min-width: 400px;
    padding: 10px;
}

.formWrapper textarea {
    resize: none;
}

.formWrapper input::placeholder, textarea::placeholder {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}