.AboutWrapper {
    text-align: center;
}

.AboutText {
    font-size: 24px;
}

.AboutEditBtn, .AboutSaveBtn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.AboutWrapper textarea {
    min-width: 300px;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}