.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MyBlogTitle {
    font-size: 32px;
}

.MyBlogNav a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    font-size: 30px;
    margin: 0 16px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    transition: .4s linear;
    position: relative;
    padding: 20px;
}

.MyBlogNav a::before, .MyBlogNav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.MyBlogNav a:hover {
    transform: scale(.8);
}

.MyBlogNav a:hover::before {
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}

.MyBlogNav a:hover::after {
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}

.Post {
    border: 2px solid black;
    margin: 40px auto;
    max-width: 50%;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: -20px 20px 0 -17px #eee,
    20px -20px 0 -17px #eee,
    20px 20px 0 -20px #592385,
    0 0 0 4px black;
}

.PostTime, .PostTitle, .PostDescription {
    font-size: 28px;
    font-weight: 500;
}


.Message {
    margin-top: 80px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.DeleteBtn, .EditBtn, .ReadMore {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.EditBtn {
    margin-left: 30px;
}


