.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.formWrapper label {
    margin: 20px 0;
}

.formWrapper input[name="title"] {
    border-radius: 10px;
    min-width: 400px;
    padding: 10px;
}

.formWrapper textarea {
    resize: none;
}

.formWrapper input::placeholder, textarea::placeholder {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.Save {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.UserHelp {
    font-size: 18px;
    text-transform: uppercase;
}